<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="ai.omnisystem.shared.permission.ACCESS_OMNISYSTEM_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="ai.omnisystem.shared.permission.ACCESS_OMNISYSTEM_DATA" />

    <application>
        <service
            android:name="ai.omnisystem.shared.service.OmnisystemService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="ai.omnisystem.shared.provider.OmnisystemContentProvider"
            android:authorities="ai.omnisystem.shared.provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
